/* src/Button.css */
.button {
    padding: 10px;
    background-color: #9b59b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #8e44ad;
  }
  